# Node
node_modules/
.pnpm/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Builds
dist/
build/
out/
.next/
.cache/
.vite/

# Environment
.env*
!.env.example

# Test
coverage/
*.test.ts.snap
jest.setup.js

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Misc
*.local
*.log
*.tgz
*.swp

# Storybook
.storybook-out/
storybook-static/

# Optional: VS Code settings that shouldn't go to git
*.code-workspace
